<footer>
	<div class="footer-links">  
	  	<div class="container">
			<div class="inner btn-group-vertical">
				<div class="row">
					
					<div class="col col-md-2 col-sm-6 col-xs-12">
						
						<div class="btn-group">
							<div id="btnGroupVerticalDrop2" data-toggle="dropdown" class="dropdown-toggle title">{{ text_information }}<i class="visible-xs icon-rt-arrow-down"></i></div>
							<div class="dropdown-menu footer-content footer-information" aria-labelledby="btnGroupVerticalDrop2">
								<ul class="list-unstyled">
								{% if informations %}
									{% for information in informations %}
									  <li><a href="{{ information.href }}">{{ information.title }}</a></li>
									{% endfor %}
								{% endif %}
								<li><a href="{{ account }}">{{ text_account }}</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col col-md-2 col-sm-6 col-xs-12">
						<div class="btn-group">
							<div id="btnGroupVerticalDrop3" data-toggle="dropdown" class="dropdown-toggle title">{{ text_service }}<i class="visible-xs icon-rt-arrow-down"></i></div>
							<div class="dropdown-menu footer-content" aria-labelledby="btnGroupVerticalDrop3">
								<ul class="list-unstyled">
								  <li><a href="{{ contact }}">{{ text_contact }}</a></li>
								  <li><a href="{{ return }}">{{ text_return }}</a></li>
								  <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
								  <li><a href="{{ order }}">{{ text_order }}</a></li>
								<li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col col-md-2 col-sm-6 col-xs-12">
						<div class="btn-group">
							<div id="btnGroupVerticalDrop3" data-toggle="dropdown" class="dropdown-toggle title">{{ text_extra }}<i class="visible-xs icon-rt-arrow-down"></i></div>
							<div class="dropdown-menu footer-content" aria-labelledby="btnGroupVerticalDrop3">
								<ul class="list-unstyled">
								  <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
								  <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
								  <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
								  <li><a href="{{ special }}">{{ text_special }}</a></li>
								  <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col col-md-2 col-sm-6 col-xs-12">
						<div class="btn-group ">
							<div id="btnGroupVerticalDrop4" data-toggle="dropdown" class="dropdown-toggle title">{{ text_follow_us }}<i class="visible-xs icon-rt-arrow-down"></i></div>
							<div class="dropdown-menu footer-content" aria-labelledby="btnGroupVerticalDrop4">
								{{ position7 }}
							</div>
						</div>
						
					</div>
					<div class="col col-md-4 col-sm-12 col-xs-12">
						<div class="btn-group ">
							<div id="btnGroupVerticalDrop4" data-toggle="dropdown" class="dropdown-toggle title">{{ text_sign_up }}<i class="visible-xs icon-rt-arrow-down"></i></div>
							<div class="dropdown-menu footer-content" aria-labelledby="btnGroupVerticalDrop4">
								{{ position5 }}
							</div>
						</div>
						
					</div>
					
				</div>
			</div>
	  	</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<p class="text-powered">{{ powered }}</p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					{{ position8 }}
				</div>
			</div>
		</div>
	</div>
</footer>

<script>
	$('.banner3-fashion3 .title-block .title').hover(
	  function() {
		$('.banner3-fashion3 .title-block .title').removeClass('active');
		$(this).addClass('active');

		var tab = $(this).data('tab');
		$(tab).closest('.content').find('.img').removeClass('show');
		$(tab).addClass('show');
	  }, function() {
		
	  }
	);
</script>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</div></body></html>